<% date = Date.today %>
<input type="hidden" id="price_per_day" value="<%= @place[:price_per_day] if @place[:price_per_day] %>" />
<input type="hidden" id="place_id" value="<%= @place[:id] if @place[:id] %>" />
<div id="good">
  <div class="page-good row">
    <div class="aside col__right">
      <div class="aside__inner">
      <div class="good-order form">
          <div class="row">
            <div class="col__left">
              <div class="good-order__price">от <%= format("%.f", @place[:price_per_day]) if @place[:price_per_day] %> р. в сутки</div>
            </div>
            <div class="col__right">
              &nbsp;
            </div>
          </div>

          <hr>

          <div class="form__row">
            <div class="form__item">
              <label for="good-date-from">С:</label>
              <input type="text" name="good-date-from" id="good-date-from" class="input-date" value="<%= date.strftime('%d.%m.%Y') %>">
            </div>
          </div>

          <div class="form__row">
            <div class="form__item">
              <label for="good-date-to">По:</label>
              <input type="text" name="good-date-to" id="good-date-to" class="input-date" value="<%= (date + 1.day).strftime('%d.%m.%Y') %>">
            </div>
          </div>

          <div class="form__row">
            <div class="form__item" style="padding-left:33px;">
              <select name="good-people" id="good-people" class="chosen-select">
                <% 8.times do |i| %>
                    <option value="<%= i+1 %>">кол-во гостей (<%= i+1 %>)</option>
                <% end %>
              </select>
            </div>
          </div>

    <!--      <div class="good-price__total">итого 18 000 р.</div> -->
	  <div class="good-price__total">Полная стоимость проживания<br> <span class="good-price__total_span">18 000 р.</span></div>
          <div class="good-price__total">К оплате за бронирование<br> <span class="good-price__total_span10">18 000 р.</span></div>
          <div class="good-order__subscribe">Оплата производится только за бронирование, остальную сумму за проживание Вы оплачиваете арендодателю.</div>

        <input type="submit" id="fast-order" value="Забронировать" class="submit js-dialog" data-src="/fast-order/<%= @place[:id] %>">
      </div>
      </div>
    </div>
    <div class="content col__middle">
      <h1><%= @place[:name] %></h1>
      <p><%= @place[:teaser] %></p>

      <div class="tabs tabs-media">
        <!--<div class="tab__title">
          <div class="tab__item -active">Галерея</div>
          <div class="tab__item">Календарь</div>
        </div>-->


        <div class="tab__content">
          <div class="tab__item -active">
            <% if @place[:images] %>
            <div class="gallery">
              <div class="gallery__image">
                <img src="<%= @place[:images].first %>" alt="">
              </div>
            </div>
            <div class="carousel carousel-gallery-thumb">
              <div class="carousel__prev"></div>
              <div class="carousel__next"></div>
              <div class="carousel__holder">
                <div class="carousel__slider">
                  <% @place[:images].each do |image| %>
                      <div class="carousel__item" data-medium="<%= image %>"><img src="<%= image %>" alt=""></div>
                  <% end %>
                </div>
              </div>
            </div><!-- /.carousel -->
            <% end %>
          </div>

          <div class="tab__item">
            Календарь
          </div>
        </div>
      </div><!-- /.tabs -->


      <div class="tabs tabs-info">
        <div class="tab__title">
          <div class="tab__item -active">Описание</div>
          <div class="tab__item">Удобства</div>
          <div class="tab__item">Правила бронирования</div>
        </div>

        <div class="tab__content">
          <div class="tab__item -active">
	    <table class="good-table">
              <tbody>
                <tr>
                  <th>Тип размещения:</th>
                  <td>Квартира</td>
                </tr>
                <tr>
                  <th>Тип кровати:</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Вмещает гостей:</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Количество спален:</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Количество ванных комнат:</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Кроватей:</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Доплата за каждого последующего гостя:</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Минимальный срок пребывания:</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Время прибытия:</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Время выезда:</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Страна:</th>
                  <td></td>
                </tr>
                <tr>
                  <th>Город:</th>
                  <td></td>
                </tr>
              </tbody>
            </table>         
            <p>
              <%= @place[:description] %>

            </p>
          </div>
          <div class="tab__item">
            <div class="row options-column">
            <%
               i = 0
               count = (@place[:facilities].count / 3.0).floor + 1
            %>

            <div class="col__left">
            <ul class="list -1inline options">
                <% @place[:facilities].each do |facility| %>
                    <%
                        i += 1
                        if i % count == 0

                    %>
                        </ul></div><div class="col__left"><ul class="list -1inline options">
                    <%
                        end


                    %>
                    <li class="list__item <%= '-active' if facility[:status] === 1 %>"><%= facility[:name] %></li>
                <% end %>
            </ul>
            </div>
          </div>
            </div>
          <div class="tab__item">
            <p>
              <%= @place[:rules] %>
            </p>
          </div>
        </div>
      </div><!-- /.tabs -->

    </div>
  </div>
</div>