<%
   d_from = DateTime.strptime(@date_from,'%s')
   d_to = DateTime.strptime(@date_to,'%s')

   price = (((@date_to.to_f - @date_from.to_f)/ (1000*60*60*24)).floor + 1) * @place[:price_per_day]
   price10 = price / 10;
%>
<div id="payment">
  <div class="page-payment row">
    <div class="aside col__right">
      <div class="aside__inner">
      <h2 class="aside__title"><%= @place[:name] %></h2>

      <div class="tile -highlight -no-hover">
        <div class="tile__image">
          <img src="<%= @place[:image] %>" alt="">
        </div>
        <div class="row tile__info">
          <div class="col__left">
            <div class="tile__price"><%= format("%.f", @place[:price_per_day]) if @place[:price_per_day] %> р. в сутки</div>
          </div>
        </div>
      </div><!-- /.tile -->

      <div class="tile-details">
        <div class="tile-details__title">Отдельная квартира на <%= @people_count %> гостей</div>

        <hr>

        <div class="tile-details__dates">С <b><%= Time.at(@date_from.to_i/1000).to_date.strftime('%d.%m.%Y') %></b> по <b><%= Time.at(@date_to.to_i/1000).to_date.strftime('%d.%m.%Y') %></b></div>

        <hr>

<!--        <div class="tile-details__total">Итого <%= format("%.f", price)%> р.</div> -->
	<div class="tile-details__sub-total">Полная стоимость проживания<br> <span><%= format("%.f", price)%> р.</span></div>
        <div class="tile-details__sub-total">К оплате за бронирование<br> <span><%= format("%.f", price10)%> р.</span></div>
        <hr>
        <div class="tile-details__total">Итого к оплате <span><%= format("%.f", (price10))%> р.</span></div>
        <div class="tile-details__subscribe">Оплата производится только за бронирование, остальную сумму за проживание Вы оплачиваете арендодателю.</div>
        <input type="submit" value="Оплатить" class="submit" id="send-payment">
      </div><!-- /.tile-details -->
      </div>
    </div><!-- /.aside -->

    <div class="content col__middle">
      <form id="z-payment" action="https://z-payment.com/merchant.php" method="post" name="pay_zpayment">

        <h1>Форма бронирования</h1>

        <div class="form-payment-billing">
          <div class="row form__row">
            <div class="form__item">
              <label for="lastname">Фамилия</label>
              <input type="text" name="lastname" id="lastname">
            </div>
            <div class="form__item">
              <label for="firstname">Имя</label>
              <input type="text" name="firstname" id="firstname">
            </div>
          </div>

<!--          <div class="row form__row">
            <div class="form__item">
              <label for="city">Город</label>
              <input type="text" name="city" id="city">
            </div>
            <div class="form__item">
              <label for="area">Область</label>
              <input type="text" name="area" id="area">
            </div>
          </div> -->

          <div class="row form__row">
            <div class="form__item">
              <label for="phone">Телефон</label>
              <input type="text" name="phone" id="phone">
            </div>
            <div class="form__item">
              <label for="email">E-mail</label>
              <input type="text" name="email" id="email">
            </div>
          </div>

          <div class="row form__row">
            <div class="form__item">
              <input type="hidden" value="<%= @place[:id] %>" name="id" id="id">
            </div>
            <div class="form__item">
              <input type="hidden" value="<%= @date_from %>" name="date_from" id="date_from">
            </div>
            <div class="form__item">
              <input type="hidden" value="<%= @date_to %>" name="date_to" id="date_to">
            </div>
            <div class="form__item">
              <input type="hidden" value="<%= @people_count %>" name="people" id="people">
            </div>
            <div class="form__item">
                <input name="LMI_PAYMENT_NO" type="hidden" value="<%= @place[:id] %>">
            </div>
            <div class="form__item">
              <input name="LMI_PAYMENT_AMOUNT" type="hidden" value="0.01">
            </div>
            <div class="form__item">
              <input name="LMI_PAYMENT_DESC" type="hidden" value="<%= @place[:name] %>">
            </div>
            <div class="form__item">
              <input type="hidden" name="LMI_PAYEE_PURSE" value="14749">
            </div>
            <div class="form__item">
              <input type="hidden" name="LMI_MODE" value="1">
            </div>
          </div>
        </div>

        <hr>

        <div class="form__error">
          <div class="form__error__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, adipisci.</div>
          <hr>
        </div>

        <div class="form-payment-billing__subscribe"><em>Благодарим за выбор наших услуг! Полное подтверждение брони произойдет в течение 24 часов с момента оплаты.</em></div>


      </form>
    </div>
  </div>
</div><!-- /#payment -->