<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Спасибо за использование Roomscanner!</h1>
<% @body.each do |b| %>
    <p><%= b %></p>
<% end %>
<p>
  Команда <a href="<%= @url %>">Roomscanner</a>.
</p>
</body>
</html>