/*!
 * Moonkake v3.0.5
 *
 * http://moonkake.ru
 */

/* FONT
-------------------------------------------------- */
/*
.m-fontface .-ff-regular {font-family:'font';}

.m-fontface .-ff-bold b,
.m-fontface .-ff-bold strong {font-family:'font bold'; font-weight:normal;}

.m-fontface .-ff-italic i,
.m-fontface .-ff-italic em,
.m-fontface .-ff-italic dfn,
.m-fontface .-ff-italic cite {font-family:'font italic'; font-weight:normal; font-style:normal;}

.m-fontface .-ff-bold-italic b i,
.m-fontface .-ff-bold-italic b em,
.m-fontface .-ff-bold-italic b cite,
.m-fontface .-ff-bold-italic strong i,
.m-fontface .-ff-bold-italic strong em,
.m-fontface .-ff-bold-italic strong cite,
.m-fontface .-ff-bold-italic dfn i,
.m-fontface .-ff-bold-italic dfn em,
.m-fontface .-ff-bold-italic dfn cite,
.m-fontface .-ff-bold-italic i b,
.m-fontface .-ff-bold-italic em b,
.m-fontface .-ff-bold-italic cite b,
.m-fontface .-ff-bold-italic i strong,
.m-fontface .-ff-bold-italic em strong,
.m-fontface .-ff-bold-italic cite strong,
.m-fontface .-ff-bold-italic i dfn,
.m-fontface .-ff-bold-italic em dfn,
.m-fontface .-ff-bold-italic cite dfn {font-family:'font bold italic'; font-weight:normal; font-style:normal;}
*/

/* Size */

.-fs-10 {font-size:10px;}
.-fs-12 {font-size:12px;}
.-fs-14 {font-size:14px;}
.-fs-16 {font-size:16px;}
.-fs-18 {font-size:18px;}
.-fs-20 {font-size:20px;}
.-fs-22 {font-size:22px;}
.-fs-24 {font-size:24px;}
.-fs-26 {font-size:26px;}
.-fs-28 {font-size:28px;}
.-fs-30 {font-size:30px;}

/* MODIFIERS
-------------------------------------------------- */

/* Colors */

.-error {color:#b94a48;}
.-success {color:#468847;}

/* Resets */

ul.-unstyled,
ol.-unstyled {margin-left:0; list-style:none;}

table.-unstyled td,
table.-unstyled th {border:0; padding:0;}

/* Text */

.-strike {position:relative; z-index:1; overflow:hidden; text-align:center;}
  .-strike:before,
  .-strike:after {content:''; display:inline-block; width:100%; height:1px; background:#000; z-index:-1; position:relative; vertical-align:middle;}
  .-strike:before {right:20px; margin:0 0 0 -100%;}
  .-strike:after {left:20px; margin:0 -100% 0 0;}

.-text-overflow {white-space:nowrap; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.-text-left {text-align:left;}
.-text-center {text-align:center;}
.-text-right {text-align:right;}

.-invert a {text-decoration:none;}
.-invert a:hover {text-decoration:underline;}

/* Content */

img[align="left"] {margin:0 15px 15px 0; float:left;}
img[align="right"] {margin:0 0 15px 15px; float:right;}

/* Other */

.-inner {width:960px; margin:0 auto;}

.-justify {text-align:justify; line-height:0; font-size:1px; text-justify:newspaper; zoom:1; text-align-last:justify;}
.-justify:after {width:100%; height:0px; visibility:hidden; overflow:hidden; content:''; display:inline-block;}

.-middle {display:table; width:100%; height:100%;}
.-middle > span {display:table-cell; vertical-align:middle;}

.-pull-left {float:left;}
.-pull-right {float:right;}

/* BLOCKS
-------------------------------------------------- */

/* Column */

.row:before,
.row:after {content:' '; display:table;}
.row:after {clear:both;}
  .row > .col__left {float:left;}
  .row > .col__right {float:right;}
  .row > .col__middle {overflow:hidden;}

.row.-table {display:table;}
  .row.-table > div {display:table-cell; float:none; overflow:visible;}

/* List */

.list {list-style:none; padding:0; margin:0;}
  .list .list__item {}

  .list.-inline {}
    .list.-inline .list__item {display:inline-block; vertical-align:top;}

  .list.-float {overflow:hidden;}
    .list.-float .list__item {float:left;}

  .list.-views {}
    .list.-views .list__item {margin-bottom:20px;}

/* Pagination */

.list.-pages {overflow:hidden;}
  .list.-pages .list__item {float:left;}
  .list.-pages .list__link {display:block; padding:8px; text-decoration:none;}
  .list.-pages .list__link.-active,
  .list.-pages .list__link:hover {background:#eee;}

/* Form */

.form {}
  .form .form__row {margin:0 0 10px 0;}
    .form .form__item {}
    .form .form__item .submit {}
    .form .form__item .input,
    .form .form__item .textarea {}

/* Icon */

i[class^="icon-"] {display:inline-block; width:15px; height:15px; vertical-align:baseline;}

/* LIBRARIES
-------------------------------------------------- */

/* Fancybox */

.-fancybox-custom {}
  .-fancybox-custom .fancybox-skin {/*-webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;*/}
  .-fancybox-custom .fancybox-prev {}
  .-fancybox-custom .fancybox-next {}
  .-fancybox-custom .fancybox-prev span,
  .-fancybox-custom .fancybox-next span {}
  .-fancybox-custom .fancybox-prev span {}
  .-fancybox-custom .fancybox-next span {}
  .-fancybox-custom .fancybox-close {}

.fancybox-overlay {}

#fancybox-thumbs,
#fancybox-thumbs * {-webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}

/* Carousel */

.carousel {width:100%; position:relative;}
  .carousel__prev,
  .carousel__next {position:absolute; top:50%; width:70px; height:57px; margin-top:-28.5px; background:#292929; cursor:pointer; z-index:2; border-radius:5px;}
  .carousel__prev {left:0px;}
  .carousel__next {right:0px;}

  .carousel__prev:after,
  .carousel__next:after {content:''; display:block; width:9px; height:17px; background:url(carousel.png) 0 0 no-repeat; position:absolute; top:50%; left:50%; margin:-8.5px 0 0 -4.5px;}
  .carousel__prev:after {background-position:0 0;}
  .carousel__next:after {background-position:0 -17px;}

  .carousel__holder {width:100%; position:relative; overflow:hidden; margin:0 auto;}

  .carousel__slider {position:relative; overflow:hidden; top:0; left:0;}
    .carousel__item {width:100px; height:100px; background:#ccc; float:left; margin:0 10px 0 0;}

/* Berry */

.berry-input {position:relative; overflow:hidden; display:inline-block; vertical-align:top;}
  .berry-input input {position:absolute; top:0px; left:-9999px;}
  .berry-input label {cursor:pointer; margin:0; display:block; position:relative; z-index:1; color:#939393;}
  .berry-input b {display:block; position:absolute; top:0; z-index:0;}
  .berry-input.-berry-checked b {}

.-berry-type-checkbox {}
  .-berry-type-checkbox b {}

.-berry-type-radio {}
  .-berry-type-radio b {}

.-berry-status-enabled {}

.-berry-status-disabled {}
  .-berry-status-disabled label {cursor:default;}
  .-berry-status-disabled b {cursor:default;}

.-berry-direction-ltr {}
  .-berry-direction-ltr label {padding-left:35px;}
  .-berry-direction-ltr b {left:0;}

.-berry-direction-rtl {}
  .-berry-direction-rtl label {padding-right:35px;}
  .-berry-direction-rtl b {right:0;}

/* Custom styles */

.-berry-custom {line-height:19px; font-size:12px; color:#939393;}
  .-berry-custom b {width:19px; height:19px; background:url(berry.png) 0 0 no-repeat;}
  .-berry-custom.-berry-checked b {background-position:0 -19px;}
  .-berry-custom.-berry-checked label {color:#D4356D;}

  .-berry-custom b:before {}
  .-berry-custom.-berry-checked b:before {}

  .-berry-custom.-berry-type-checkbox b {}
  .-berry-custom.-berry-type-checkbox b:before {}

  .-berry-custom.-berry-type-radio b {}
  .-berry-custom.-berry-type-radio b:before {}

  .-berry-custom.-berry-status-disabled label {color:#ccc;}
  .-berry-custom.-berry-status-disabled b {}
  .-berry-custom.-berry-status-disabled.-berry-checked b:before {}

/* Chosen */

.chosen-container {position:relative; display:inline-block; vertical-align:top; font-size:12px; zoom:1; *display:inline; -webkit-user-select:none; -moz-user-select:none; user-select:none; width:100% !important; box-shadow:-5px 5px 0 rgba(0,0,0,.1); border-radius:5px;}
.chosen-container .chosen-drop {position:absolute; top:100%; left:-9999px; z-index:1010; width:100%;}
.chosen-container.chosen-with-drop .chosen-drop {left:0;}
.chosen-container a {cursor:pointer; color:#8b8483;}

.chosen-container-active {z-index:1020;}

.chosen-container-single .chosen-single {position:relative; display:block; overflow:hidden; padding:0 0 0 13px; height:29px; border:0; background:url(bg-blue.png) 0 0 repeat-x; text-decoration:none; white-space:nowrap; line-height:29px; border-radius:5px;}
.chosen-container-single .chosen-default {color:#fff;}
.chosen-container-single .chosen-single span {display:block; overflow:hidden; margin-right:44px; text-overflow:ellipsis; white-space:nowrap; font-weight:bold; color:#fff;}
.chosen-container-single .chosen-single div {position:absolute; top:0; right:16px; display:block; width:12px; height:100%;}
.chosen-container-single .chosen-single div b {display:block; width:100%; height:100%; background:url(chosen.png) 50% 50% no-repeat;}
.chosen-container-single .chosen-search input[type="text"] {display:none;}
.chosen-container-single .chosen-drop {margin-top:0px;}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {position:absolute; left:-9999px;}

.chosen-container .chosen-results {position:relative; overflow-x:hidden; overflow-y:auto; max-height:240px; -webkit-overflow-scrolling:touch; padding:5px 0; margin:0; border:1px solid #517fa6; border-top:0; border-radius:0 0 5px 5px; background:#fff;}
.chosen-container .chosen-results li {display:none; margin:0; padding:3px 13px; list-style:none; line-height:18px; color:#8b8483;}
.chosen-container .chosen-results li.active-result {display:list-item; cursor:pointer;}
.chosen-container .chosen-results li.disabled-result {display:list-item; color:#ccc; cursor:default;}
.chosen-container .chosen-results li.highlighted {background-color:#517fa6; color:#fff;}
.chosen-container .chosen-results li.no-results {display:list-item; background:#f4f4f4;}
.chosen-container .chosen-results li em {font-style:normal; text-decoration:underline;}

.chosen-container-active .chosen-single {}
.chosen-container-active.chosen-with-drop .chosen-single {border-radius:5px 5px 0 0;}