/*!
 * Moonkake v3.0.5
 *
 * http://moonkake.ru
 */

/* IMPORT
-------------------------------------------------- */

/* Common */

/*@import url(moonkake.css);*/
/*@import url(assets.css);*/

/* Libraries */

/*@import url(../js/libs/fancybox/jquery.fancybox.css);*/
/*@import url(../js/libs/fancybox/helpers/jquery.fancybox-thumbs.css);*/
@import url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css);

/* COMMON
-------------------------------------------------- */

html,
body {height:100%;}

.wrapper {min-height:100%; height:auto !important; height:100%;}

  .header {position:fixed; height:60px; background:url(header.png) 0 0 repeat-x #fff; border-bottom:1px solid #b6c6d5; width:100%; top:0; left:0; right:0; padding:0 28px; color:#fff; z-index:2000;}
    .header__logotype {width:170px; margin-right:23px; padding-top:22px;}
      .logotype {width:170px; height:17px; display:block; background:url(header-logotype.png) no-repeat; text-indent:100%; white-space:nowrap; overflow:hidden;}

    .header__user {margin-left:23px; line-height:60px;}
      .header__user-phone {font-size:20px;}

    .header__search {padding:15px 0;}
      .search {max-width:492px; width:90%;}
        .search input {border-color:transparent; background:url(search.png) 100% 3px no-repeat #fff; padding-right:42px;}

  .main {padding:61px 0 44px 0; height:100%;}
    .main > .col__left {height:100%;}

    .section {padding:28px; background:#fff; width:56%; box-shadow:6px 0 0 rgba(0,0,0,.1); position:relative; z-index:1;}

    .map {position:fixed; right:0; top:61px; bottom:44px; width:44%;}
      #map-canvas {width:100%; height:100%;}
      #map-canvas img {max-width:none;}

        .markerbox {background:url(infobox.png) 0 0 no-repeat; text-align:center; padding:26px 26px 36px 32px; line-height:1;}
          .markerbox img {display:none;}
          .markerbox__title {font-size:10px; color:#517fa6; text-transform:uppercase; font-weight:bold; line-height:12px; max-height:36px; overflow:hidden;}
          .markerbox__price {font-size:12px; color:#517fa6; font-weight:bold; margin-top:8px;}
          .markerbox__price span {font-size:19px; display:block;}
          .markerbox__button {margin-top:8px;}
          .markerbox__button a {display:inline-block; font-size:10px; text-transform:uppercase; color:#fff; text-decoration:none; height:21px; line-height:21px; border-radius:3px; box-shadow:-5px 5px 0 rgba(0,0,0,.1); background:#5e9ac5; padding:0 5px;}

      .page-contol {width:29px; height:184px; position:absolute; z-index:10; top:50%; margin-top:-129px; margin-left:14px; left:0;}
        .page-contol .page-control__left,
        .page-contol .page-control__right {width:29px; height:85px; border-radius:5px; cursor:pointer; box-shadow:-5px 5px 0 rgba(0,0,0,.1); margin-top:14px; position:relative;
          background:#5c8ab1;
          background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #65a2cc), color-stop(1, #5490bc));
          background-image:-o-linear-gradient(bottom, #65a2cc 0%, #5490bc 100%);
          background-image:-moz-linear-gradient(bottom, #65a2cc 0%, #5490bc 100%);
          background-image:-ms-linear-gradient(bottom, #65a2cc 0%, #5490bc 100%);
          background-image:linear-gradient(to bottom, #65a2cc 0%, #5490bc 100%);
        }
        .page-contol .page-control__left {margin-top:0;}
        .page-contol .page-control__left:after,
        .page-contol .page-control__right:after {content:''; display:block; background:url(page-control.png); width:12px; height:14px; top:50%; left:50%; margin:-7px 0 0 -6px; position:absolute;}
        .page-contol .page-control__left:after {background-position:0 0;}
        .page-contol .page-control__right:after {background-position:-12px 0;}

        .page-contol .page-control__left:hover,
        .page-contol .page-control__right:hover {
          background:#d3d3d3;
          background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #BEBEBE), color-stop(1, #DDDDDD));
          background-image:-o-linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
          background-image:-moz-linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
          background-image:-ms-linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
          background-image:linear-gradient(to bottom, #BEBEBE 0%, #DDDDDD 100%);
        }

        .page-contol .page-control__left:hover:after {background-position:0 -14px;}
        .page-contol .page-control__right:hover:after {background-position:-12px -14px;}

.footer {height:44px; margin:-44px auto 0; position:relative; border-top:1px solid #afafaf; background:#32373b; line-height:44px; padding:0 28px; color:#858a8e; overflow:hidden;}

  .footer__logotype {width:126px; margin-right:30px; padding-top:15px;}

  .footer__copyright {font-size:11px; text-overflow:ellipsis; white-space:nowrap;}

  .footer__navigation {font-size:11px; color:#abafb2; margin-left:30px;}

    .navigation-bottom {}
      .navigation-bottom .list__item {margin-left:15px;}
      .navigation-bottom .list__item:first-child {margin-left:0;}

/* PAGE - INDEX
-------------------------------------------------- */

/* FILTER */

.filter {margin:-28px -28px 10px -28px;}
  .filter label {display:inline-block;}
  .filter .filter__item {padding:20px 28px; background:#f0f0f0;}
  /*.filter .filter__item:nth-child(even) {background:#fcfcfc;}*/

    .filter .filter__title {font-weight:bold; font-size:14px; color:#656565;}

    .filter .filter__date {position:relative; z-index:3; padding-bottom:0;}
      .filter .filter__date label {width:29px; color:#5380a9;}
      .filter .filter__date .filter__title {line-height:29px;}
      .filter .filter__date .col__left {margin-left:20px;}
      .filter .filter__date .col__left:first-child {margin-left:0; margin-right:62px;}

    .filter .filter__type {border-bottom:7px solid #5c8ab1; padding-bottom:19px; display:none;}
      .filter .filter__type .filter__title {width:140px;}

        .type {}
          .type .list__item {margin-left:55px; cursor:pointer; border-bottom:7px solid transparent; padding-bottom:19px; position:relative;}
          .type .list__item:after {content:''; display:none; width:12px; height:11px; background:url(type__item-active.png) 0 0 no-repeat; position:absolute; top:100%; margin-top:-10px; margin-left:-6px; left:50%;}
          .type .list__item:first-child {margin-left:0;}
          .type .list__item .list__image {height:51px; background-position:0 -51px; background-repeat:no-repeat;}
          .type .list__item .list__title {color:#517fa6; margin-top:15px; white-space:nowrap; padding-left:4px;}

          .type .list__item.-active {border-bottom-color:#d42a66;}
          .type .list__item.-active:after {display:block;}
            .type .list__item.-active .list__image {background-position:0 0;}
            .type .list__item.-active .list__title {color:#d42a66;}

        .filter .filter__type .type {margin-bottom:-26px;}

    .filter .filter__range {padding:10px 28px;}
      .filter .filter__range .filter__title {width:135px; padding-top:16px;}

      .range {padding:18px 0 0 5px;}
        .range .range__from,
        .range .range__to {color:#4a7fa9; font-size:14px;}
        .range .range__from span,
        .range .range__to span {color:#d4356d;}

        .range .range__info {margin-top:16px;}

  .filter-advanced {}
    .filter-advanced .filter-advanced__search {width:198px; margin-left:28px; position:relative; z-index:1;}
      .filter-advanced .filter-advanced__search-button {width:100%; background:url(bg-blue.png) 0 0 repeat-x; color:#fff; height:29px; line-height:29px; font-weight:bold; color:#fff; padding:0 45px 0 12px; display:inline-block; text-decoration:none; border-radius:5px; position:relative; box-shadow:-5px 5px 0 rgba(0,0,0,.1);}
      .filter-advanced .filter-advanced__search-button:after {content:''; display:block; width:18px; height:17px; background:url(filter-advanced__search-button.png) 50% 50% no-repeat; position:absolute; right:14px; top:6px;}

    .filter-advanced .filter-advanced__tag {}
      .filter__tag {margin:-10px 0 0 -10px;}
        .filter__tag .list__item {margin:10px 0 0 10px;}

        .tag {line-height:29px; height:29px; background:#f1f1f1; border-radius:5px; font-size:14px; color:#5c8ab1; padding:0 39px 0 14px; position:relative; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
        .tag span {width:11px; height:11px; background:url(x.png) 0 0 no-repeat; position:absolute; top:50%; margin-top:-6px; right:14px; display:block; cursor:pointer; text-indent:-9999px;}

      .filter-advanced__criteria {margin-top:28px; padding-top:35px; border-top:1px solid #dee8ef; display:none; position:relative;}
        .criteria__item {margin-bottom:30px;}
          .criteria__item .criteria__title {font-size:14px; color:#517fa6; margin-bottom:5px; /*padding-right:30px;*/ position:relative;}
          .criteria__item .criteria__title .criteria__toggle {position:absolute; top:38px; right:14px; cursor:pointer; text-indent:-9999px; width:29px; height:29px; background:url(bg-blue.png) 0 0 repeat-x; border-radius:5px; box-shadow:-5px 5px 0 rgba(0,0,0,.1);}
          .criteria__item .criteria__title .criteria__toggle:after {content:''; display:block; position:absolute; top:50%; left:50%; margin:-6px 0 0 -6px; background:url(criteria__toggle-white.png) 0 0 no-repeat; width:12px; height:12px;}
          .criteria__item .criteria__content {background:#fafafa; padding:17px; border:1px solid #eee;}

          .criteria__options {margin-top:-10px;}
            .criteria__options .list__item {width:33.3333%; margin-top:10px;}

          .criteria__options-advanced {display:none; margin-top:10px; border-top:1px solid #eee;}

          .criteria__item.-opened .criteria__toggle:after {background-position:0 -12px;}

      .filter-advanced .filter {margin-top:0; margin-bottom:40px;}
      .filter-advanced .filter .filter__type {background:none;}

  .filter-advanced.-opened {}
    .filter-advanced.-opened .filter-advanced__search-button {background-image:url(bg-gray.png);}
    .filter-advanced.-opened .filter-advanced__search-button:after {background-image:url(filter-advanced__search-button-close.png);}
    .filter-advanced.-opened .filter-advanced__search:before {content:''; display:block; height:7px; width:198px; background:#5c8ab1; position:absolute; top:50px; right:0;}
    .filter-advanced.-opened .filter-advanced__search:after {content:''; display:block; height:11px; width:12px; background:url(filter-advanced__criteria.png) 0 0 no-repeat; position:absolute; top:56px; right:93px;}

    .filter-advanced.-opened ~ .update .update__current,
    .filter-advanced.-opened ~ .update .update__count {visibility:hidden;}

.ui-slider-horizontal {border:0; height:17px; background:#5c8ab1; border-radius:4px; box-shadow:-5px 5px 0 rgba(0,0,0,.1);}
  .ui-slider-horizontal .ui-slider-range {background:url(ui-slider-range.png) 0 0 repeat-x #d42a66; border-radius:4px; box-shadow:-5px 5px 0 rgba(0,0,0,.1);}
  .ui-slider-horizontal .ui-slider-handle {background:url(ui-slider-handle.png) 50% 50% no-repeat; border-radius:4px; top:0; border:0; margin-left:0; width:17px; height:17px; cursor:pointer;}
  .ui-slider-horizontal .ui-slider-handle + .ui-slider-handle {margin-left:-17px;}

.ui-datepicker {border:0; border-radius:5px; background:rgba(92,138,177,.9); padding:13px; width:241px; font-size:12px; box-shadow:-5px 5px 0 rgba(0,0,0,.1); margin-top:10px;}
  .ui-datepicker-header {background:none; padding:0 0 10px 0 !important; border:0; font-weight:normal; color:#fff; font-size:14px; border-bottom:1px solid #92b5d2; border-radius:0; margin:0 0 10px 0;}
    .ui-datepicker-header .ui-datepicker-title {padding:0; line-height:25px;}
    .ui-datepicker-header .ui-datepicker-prev,
    .ui-datepicker-header .ui-datepicker-next {width:14px; height:25px; border:0; background:none; top:0; cursor:pointer;}
    .ui-datepicker-header .ui-datepicker-prev {left:0;}
    .ui-datepicker-header .ui-datepicker-next {right:0;}
    .ui-datepicker-header .ui-datepicker-prev span {width:14px; height:15px; margin:-7px 0 0 -7px !important; background:url(ui-datepicker.png) 0 0 no-repeat !important;}
    .ui-datepicker-header .ui-datepicker-next span {width:14px; height:15px; margin:-7px 0 0 -7px !important; background:url(ui-datepicker.png) -14px 0 no-repeat !important;}

  .ui-datepicker .ui-datepicker-calendar {}
  .ui-datepicker .ui-datepicker-calendar thead th {font-size:11px; color:#fff; font-weight:normal;}
  .ui-datepicker .ui-datepicker-calendar td {padding:2px;}
  .ui-datepicker .ui-datepicker-calendar td .ui-state-default {width:25px; height:29px; text-align:center; background:#fff; border:1px solid #ccc; line-height:27px; color:#517fa6; font-size:11px; padding:0; font-weight:bold;}
  .ui-datepicker .ui-datepicker-calendar td .ui-state-active {border-color:#9cb8d0; background:#699ac2; color:#fff;}

.update {color:#fff; margin-bottom:27px; height:29px; line-height:29px; background:url(update.png) 0 0 repeat-x #d92968; border-radius:5px; cursor:pointer; padding:0 12px; box-shadow:-5px 5px 0 rgba(0,0,0,.1);}
  .update > div {width:33.333%;}
  .update .update__current {font-size:9px; text-transform:uppercase;}
  .update .update__search {text-align:center; font-weight:bold; font-size:14px;}
  .update .update__count {font-size:9px; text-transform:uppercase; text-align:right;}

/* ITEM */

.items {}

  .good {margin:-28px 0 0 -28px;}
    .good .list__item {/*width:50%;*/ width:33.333%; padding-left:28px; margin-top:28px;}

    .tile {border-radius:5px; overflow:hidden; color:#fff; background:#32373b; position:relative; background-size:cover; background-position:50% 50%; background-repeat:no-repeat;}
    .tile:before {content:''; display:none; cursor:pointer; top:0; left:0; width:100%; height:100%; z-index:3; position:absolute; background:url(tile.png) 50% 50% no-repeat; background-color:rgba(93,138,177,.7); /*border:13px solid rgba(93,138,177,.8); border-bottom-width:49px;*/}
      .tile__image {position:relative; z-index:0;}

      .tile__content {background:rgba(50,55,59,.8); padding:10px 14px; color:#fff; font-size:11px; border-radius:5px 5px 0 0; z-index:1; /*position:relative;*/ bottom:-5px; left:0; right:0; position:absolute;}
        .tile__title {color:#fff; font-size:21px; font-weight:normal;}

      .tile__info {background:#5d8ab1; border-top:1px solid #afcee5; padding:10px 14px; color:#fff; font-size:11px; border-radius:5px; position:relative; z-index:2; line-height:21px; /*margin-top:-5px;*/ overflow:hidden;}
        .tile__price {font-weight:bold; font-size:21px;}
        .tile__owner {}

      .tile__instant-reservation {display:none; padding:10px 13px; background:#32373b; font-size:9px; line-height:1; text-transform:uppercase; color:#fff; border-radius:4px; position:absolute; top:14px; right:14px; z-index:10; text-decoration:none;}
      .tile__comment {display:none; position:absolute; z-index:10; width:47px; height:34px; background:url(tile__comment.png) 0 0 no-repeat; top:14px; left:14px; font-weight:bold; text-align:center; padding-top:9px; font-size:14px; line-height:1;}
      .tile__link {display:block; position:absolute; z-index:4; width:100%; height:100%; top:0; left:0;}

    .tile:hover:before {display:block;}

    .tile.-highlight {}
    .tile.-highlight:before {background-color:rgba(212,43,102,.7); /*border-color:rgba(212,43,102,.8);*/}
      .tile.-highlight .tile__info {border-top-color:#ef9ec5;
        background:#d42b66;
        background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e1448e), color-stop(1, #e23f79));
        background-image:-o-linear-gradient(bottom, #e1448e 0%, #e23f79 100%);
        background-image:-moz-linear-gradient(bottom, #e1448e 0%, #e23f79 100%);
        background-image:-ms-linear-gradient(bottom, #e1448e 0%, #e23f79 100%);
        background-image:linear-gradient(to bottom, #e1448e 0%, #e23f79 100%);
      }

    .tile.-no-hover {}
    .tile.-no-hover:before {display:none;}


    .tile-details {margin-top:17px;}
      .tile-details .tile-details__title {font-size:15px; color:#517fa6;}
      .tile-details .tile-details__dates {font-size:14px; color:#000;}
      /*.tile-details .tile-details__total {font-size:16px; color:#517fa6; font-weight:bold;}*/
      .tile-details .tile-details__sub-total {font-size:11px; margin:5px 0; color:#000; font-weight:bold; white-space:nowrap; text-align:right;}
      .tile-details .tile-details__sub-total span {font-size:15px;}
      .tile-details .tile-details__total {font-size:14px; margin:15px 0 20px 0; color:#517fa6; font-weight:bold; white-space:nowrap; text-align:right;}
      .tile-details .tile-details__total span {font-size:21px;}
      .tile-details .tile-details__subscribe {font-size:12px; color:#939393; margin:0 0 20px 0; font-style:italic;}

      .tile-details table {font-size:13px; color:#4d4d4d;}
        .tile-details table td {border:0; text-align:right; padding:10px 0 0 0;}
        .tile-details table th {border:0; text-align:left; background:none; padding:10px 0 0 0;}

/* DIALOG
-------------------------------------------------- */

.-locked {overflow:hidden;}

.dialog {position:fixed; top:0; left:0; overflow:auto; z-index:2001; background:rgba(0,0,0,.8); width:100%; height:100%; display:none;}
  .dialog-content {position:absolute; top:90px; width:906px; left:50%; margin-left:-453px; background:#f1f1f1;}
  .dialog-close {position:absolute; top:14px; right:14px; height:57px; width:57px; background:url(filter-advanced__search-button-close.png) 50% 50% no-repeat #292929; cursor:pointer; border-radius:5px;}

  .dialog .tile {}
  .dialog .tile + .tile {margin-top:17px;}
    .dialog .tile .tile__title {margin:0; font-size:16px;}
    .dialog .tile .tile__price {font-size:16px;}

.submit {height:43px; color:#fff; font-size:14px; font-weight:bold; background:url(submit.png) 0 0 repeat-x #de2969; width:100%; border:0; margin:0; border-radius:5px; box-shadow:-5px 5px 0 rgba(0,0,0,.1);}

/* PAYMENT */

.page-payment {overflow:hidden;}
  .page-payment .aside {width:283px; background:#fff; padding:57px 14px; padding-bottom:999999px; margin-bottom:-999999px;}
  .page-payment .aside .aside__title {padding-top:20px;}
  .page-payment .aside .aside__inner {margin-bottom:40px;}

    .page-payment .tile {}
      .page-payment .tile .tile__title {margin:0; font-size:16px;}
      .page-payment .tile .tile__content {padding-bottom:15px;}
      .page-payment .tile .tile__price {font-size:16px;}

  .page-payment .content {padding:57px;}

.form-payment-billing {margin-top:30px;}
  .form-payment-billing .form__row {margin-bottom:25px;}
  .form-payment-billing .form__item {float:left; width:226px; margin-left:57px;}
  .form-payment-billing .form__item:first-child {margin-left:0;}

  .form-payment-billing__agree {margin:25px 0;}

  .form-payment-billing__subscribe {font-size:12px; color:#939393; margin-bottom:40px;}

  .form__error {color:#ff0000; font-size:12px; font-style:italic; display:none;}

/* GOOD */

.page-good {overflow:hidden;}
  .page-good .aside {width:283px; background:#fff; padding:57px 14px; padding-bottom:999999px; margin-bottom:-999999px;}
  .page-good .aside .aside__title {padding-top:20px;}
  .page-good .aside .aside__inner {margin-bottom:40px;}

    .avatar {width:174px; height:174px; margin:0 auto 25px auto; position:relative;}
    .avatar:after {content:''; display:block; width:100%; height:100%; background:url(avatar.png) 0 0 no-repeat; top:0; left:0; position:absolute;}

    .good-order {padding:14px; background:#5c8ab1; margin-bottom:25px; color:#fff; border-radius:5px; box-shadow:-5px 5px 0 rgba(0,0,0,.1);}
    .good-order {margin-top:30px;}
      .good-order .good-order__price {line-height:29px; font-weight:bold; font-size:21px;}
      .good-order .good-order__subscribe {font-size:12px; color:#f1f1f1; margin:10px 0; font-style:italic;}
      .good-order .good-price__total {font-size:14px; margin:15px 0; color:#fff; font-weight:bold; white-space:nowrap; text-align:right;}
      .good-order .good-price__total span {font-size:18px;}
      .good-order label {display:inline-block; margin:0; width:29px; line-height:29px; color:#fff;}
      .good-order .input-date {width:194px; padding-right:39px; background-image:url(input-date.png); background-position:167px 50%; background-repeat:no-repeat;}

      .good-order .chosen-container {box-shadow:none;}
      .good-order .chosen-container-single .chosen-single {background:#fff;}
      .good-order .chosen-container-single .chosen-single span {color:#5c8ab1;}
      .good-order .chosen-container .chosen-results {border-color:#fff;}
      .good-order .chosen-container-single .chosen-single div b {background-image:url(chosen-blue.png);}

    .good-table {width:220px; float:right; margin:0 0 10px 10px;}
      .good-table th {text-align:left; font-weight:normal; border-right:0;}
      .good-table td {text-align:right; font-weight:bold; border-left:0;}
      .good-table th,
      .good-table td {border-color:#DBDBDB;}

      .good-table tr:nth-child(even) td,
      .good-table tr:nth-child(even) th {background:#f7f7f7;}

  .page-good .content {padding:57px; font-size:13px; color:#707070;}

  .gallery {}
    .gallery .gallery__image {overflow:hidden; border-radius:5px;}

    .carousel-gallery-thumb {width:341px; margin:13px auto 0 auto;}
    .carousel-gallery-thumb .carousel__item {width:57px; height:57px; margin-right:14px; border-radius:5px; overflow:hidden; cursor:pointer;}
    .carousel-gallery-thumb .carousel__prev {left:-84px;}
    .carousel-gallery-thumb .carousel__next {right:-84px;}

.tabs {}
  .tabs .tab__title {overflow:hidden;}
    .tabs .tab__title .tab__item {float:left; width:33.205%; height:43px; line-height:43px; font-weight:bold; color:#fff; text-align:center; cursor:pointer; border-radius:5px; background:url(tab__title.png) 0 0 repeat-x; margin-left:1px; margin-top:14px;}
    .tabs .tab__title .tab__item:first-child {margin-left:0px;}
    .tabs .tab__title .tab__item.-active {height:57px; line-height:57px; background:#fff; color:#292929; margin-top:0; border-radius:5px 5px 0 0;}

  .tabs .tab__content {background:#fff; padding:25px 15px; border-radius:0 0 5px 5px;}
    .tabs .tab__content .tab__item {display:none; overflow:hidden;}
    .tabs .tab__content .tab__item.-active {display:block;}

.tabs-media {margin:25px 0;}
  .tabs-media .tab__title {margin-bottom:15px;}
  .tabs-media .tab__title .tab__item {margin-left:55px; margin-top:0; width:44.6%;}
  .tabs-media .tab__title .tab__item.-active {height:42px; border-radius:5px; background:#e4e4e4; line-height:43px; color:#000; border:1px solid #c8c8c8; border-right:0; border-bottom:0;}

  .tabs-media .tab__content {background:none; padding:0; border-radius:0;}

.options-column {}
  .options-column .col__left {width:33.333%;}

.options {/*margin:-18px 0 0 -2%;*/}
  .options .list__item {/*width:31%; margin:18px 0 0 2%;*/ padding-left:16px; position:relative; margin-top:10px; line-height:16px;}
  .options .list__item:first-child {margin-top:0;}
  .options .list__item:after {position:absolute; top:5px; left:0; content:''; display:block; width:11px; height:7px; background:url(options.png) -9999px -9999px no-repeat;}
  .options .list__item.-active {color:#d42a66;}
  .options .list__item.-active:after {background-position:0 -7px;}

/* RESPONSIVE
-------------------------------------------------- */

@media screen and (max-width:1710px) {

  .good {}
    .good .list__item {width:50%;}

}

@media screen and (max-width:1350px) {

  .search {max-width:338px;}

  .good {}
    .good .list__item {}

      .tile__content {}
        .tile__title {font-size:16px;}

      .tile__info {}
        .tile__price {font-weight:bold; font-size:16px;}

  .filter .filter__date label {width:22px;}
  .filter .filter__date input[type="text"] {width:100px !important;}

}

@media screen and (max-width:1100px) {

  .search {max-width:324px;}

  .filter .filter__date label {width:22px;}
  .filter .filter__date input[type="text"] {width:93px !important;}

  .range .range__from,
  .range .range__to {font-size:12px;}

}

/* DIRTY HACK
-------------------------------------------------- */

.gallery .gallery__image {text-align:center; height:320px;}
.gallery .gallery__image img {height:100%;}
.tile__image {height:0; padding-bottom:63%;}