/*!
 * Moonkake v3.0.5
 *
 * http://moonkake.ru
 */

/* FONT
 *
 * http://www.fontsquirrel.com/fontface/generator
 * http://onlinefontconverter.com
 * http://www.font2web.com (EOT)
-------------------------------------------------- */
/*
@font-face {
  font-family:'font';
  src:url('../font/font.eot');
  src:url('../font/font.eot?#iefix') format('embedded-opentype'),
      url('../font/font.woff') format('woff'),
      url('../font/font.ttf') format('truetype'),
      url('../font/font.svg#font') format('svg');
  font-weight:normal;
  font-style:normal;
}
*/

/* CONTENT
-------------------------------------------------- */

*,
*:before,
*:after {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

html {font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body {margin:0; font-size:14px; line-height:1.428571429; direction:ltr; text-align:left; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#333; background:#fff; font-smooth:always; -webkit-font-smoothing:antialiased;}

a {color:inherit; text-decoration:underline; -webkit-tap-highlight-color:rgba(0,0,0,0); outline:none; -moz-outline-style:none;}
a:hover {text-decoration:none;}
/*a:active {background-color:transparent;}*/

::-moz-selection {text-shadow:none; background:#b3d4fc;}
::selection {text-shadow:none; background:#b3d4fc;}

h1,
h2,
h3,
h4,
h5,
h6 {margin:0 0 10px 0; font-family:inherit; font-weight:bold; color:#4d4d4d; text-rendering:optimizelegibility; line-height:1;}

h1 {font-size:36px; margin-bottom:30px;}
h2 {font-size:18px;}
h3 {font-size:18px;}
h4 {font-size:18px;}
h5 {font-size:18px;}
h6 {font-size:18px;}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {text-decoration:none; color:inherit;}

p {margin:0 0 10px;}

ul,
ol {padding:0; margin:0 0 10px 25px;}

ul ul,
ul ol,
ol ol,
ol ul {margin-bottom:0;}

dl {margin:0 0 10px 0;}
dt {font-weight:bold;}
dd {margin-left:0;}

sub,
sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline;}

sup {top:-0.5em; }
sub {bottom:-0.25em;}

big {font-size:125%; line-height:80%;}
small {font-size:75%;}

tt,
pre,
kbd,
xmp,
code,
samp,
plaintext {font-family:monospace, sans-serif;}

pre {white-space:pre-wrap;}

address {font-style:normal;}

i,
em,
dfn,
cite {font-style:italic;}

u,
ins,
var {text-decoration:underline;}

b,
strong {font-weight:bold;}

s,
del,
strike {text-decoration:line-through;}

abbr,
acronym {cursor:help; border-bottom:1px dashed #eee;}

mark {color:#000; background:#ff0;}

q,
blockquote {quotes:'' ''; font-style:normal; padding:10px 20px; margin:0 0 10px 0; border-left:5px solid #eee;}
q:after,
q:before,
blockquote:after,
blockquote:before {content:'';}

img {vertical-align:top; -ms-interpolation-mode:bicubic; max-width:100%; height:auto; border:0;}

hr {display:block; height:1px; border:0; background:#dee8f1; margin:14px 0; padding:0; -moz-box-sizing:content-box; box-sizing:content-box;}

/* HTML
-------------------------------------------------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {display:block;}

audio,
canvas,
video {display:inline-block;}

audio:not([controls]) {display:none; height:0;}

[hidden] {display:none;}

/* TABLE
-------------------------------------------------- */

table {width:100%; border-collapse:collapse; border-spacing:0; margin:0 0 10px 0;}

td,
th {padding:5px; border:1px solid #eee; text-align:left;}

th {font-weight:bold;}

caption {text-align:center; font-weight:bold; padding-bottom:10px;}

/*
tr:nth-child(2n+1) td,
tr:nth-child(2n+1) th {background:#ddd;}
*/

/* FORM
-------------------------------------------------- */

::-ms-clear {display:none;}

iframe,
frame,
frameset,
fieldset,
form {padding:0; margin:0; border:0;}

label {display:block; color:#517fa6; margin-bottom:10px;}
legend {padding:0 5px;}

button,
input,
select,
textarea {font-size:100%; font-family:inherit; margin:0; vertical-align:baseline; outline:none;}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
textarea,
select {width:100%; border:1px solid #d3d3d3; border-radius:5px; padding:3px 14px; color:#808080; height:29px; font-size:12px;}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {border-color:#d42b66;}

*::-webkit-input-placeholder {color:#7e7e7e;}
*:-moz-placeholder {color:#7e7e7e;}
*::-moz-placeholder {color:#7e7e7e;}
*:-ms-input-placeholder {color:#7e7e7e;}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {cursor:pointer; -webkit-appearance:button;}

button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {cursor:default;}

input[type="checkbox"],
input[type="radio"] {vertical-align:baseline; padding:0;}

input[type="search"] {-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance:none;}

button::-moz-focus-inner,
input::-moz-focus-inner {border:0; padding:0;}

textarea {overflow:auto; vertical-align:top; resize:none; height:auto;}

/* PRINT
-------------------------------------------------- */

@media print {

  .-no-print {display:none;}

  * {background:transparent !important; color:#000 !important;}

  a,
  a:visited {text-decoration:underline;}
  a[href]:after {content:" (" attr(href) ")";}
  a[href^="javascript:"]:after,
  a[href^="#"]:after {content:"";}

  abbr[title]:after {content:" (" attr(title) ")";}

  thead {display:table-header-group;}

  tr,
  img {page-break-inside:avoid;}
  img {max-width:100% !important;}

  @page {margin:0.5cm;}

  h1, h2, h3, h4, h5, h6, p {orphans:3; widows:3;}
  h1, h2, h3, h4, h5, h6 {page-break-after:avoid;}

}