<% date = Date.today %>
<main class="row main">
<section class="col__left section">
<form id="search-form" action="/search">
<div class="filter">
  <div class="row filter__item filter__date">
    <div class="col__left">
      <div class="filter__title">Поездка</div>
    </div>

    <div class="col__left">
      <label for="datefrom">С:</label>
      <input type="text" id="datefrom" value="<%= (date).strftime('%d.%m.%Y') %>" class="input-date" style="width:170px;">
    </div>

    <div class="col__left">
      <label for="dateto">По:</label>
      <input type="text" id="dateto" value="<%= (date + 1.day).strftime('%d.%m.%Y') %>" class="input-date" style="width:170px;">
    </div>

    <div class="col__left">
      <select class="chosen-select" name="people" id="people" style="width:142px;">
        <% 8.times do |i| %>
            <% if params[:people].to_i == (i + 1).to_i %>
                <option selected value="<%= i+1 %>"><%= i+1 %> гость</option>
            <% else %>
                <option  value="<%= i+1 %>"><%= i+1 %> гость</option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <div class="row filter__item filter__range">
    <div class="col__left">
      <div class="filter__title">Цена за сутки: </div>
    </div>
    <div class="col__middle">
      <div class="range">
        <div class="range__slider" data-min="<%= @prices_per_day[:min].round %>" data-max="<%= @prices_per_day[:max].round %>" data-start="<%= params[:price_from] ? params[:price_from] : @prices_per_day[:min].round %>" data-end="<%= params[:price_to] ? params[:price_to] : @prices_per_day[:max].round %>"></div>

        <div class="row range__info">
          <div class="col__left">
            <div class="range__from"></div>
            <input type="hidden" value="" id="price_from" name="price_from" />
          </div>
          <div class="col__right">
            <div class="range__to"></div>
            <input type="hidden" value="" id="price_to" name="price_to" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.filter -->
<div class="filter-advanced js-root">
<div class="row">
  <div class="col__right filter-advanced__search">
    <a href="#" class="filter-advanced__search-button js-toggler">Детальный поиск</a>
  </div>

  <div class="col__middle filter-advanced__tag">
    <ul class="list -float filter__tag">
      <!-- <li class="list__item tag">название фильтра <span>x</span></li> -->
    </ul>
  </div>
</div>

<div class="filter-advanced__criteria js-target">

<div class="criteria__item criteria__keywords">
  <div class="criteria__title">Ключевые слова</div>
  <input type="text" name="q" id="q" placeholder="Например, Уютная квартира в центре города" value="<%= params[:q] ? params[:q] : '' %>">
</div><!-- /.criteria__item -->

  <div class="criteria__item js-root">
    <div class="criteria__title">Тип жилья (<%= @place_types_list.size %>)<span class="criteria__toggle js-toggler"><</span></div>
    <div class="criteria__content">
      <ul class="list -inline criteria__options"><!--
    <% @place_types_list.take(3).each do |place_type| %>
           --><li class="list__item">
        <label for="l<%= place_type[:id] %>"><%= place_type[:name] %></label>
        <% if place_type[:name] == 'Квартира' %>
            <%= check_box_tag "l[pt][]", place_type[:id], true, id: "l#{place_type[:id]}", class: "berry" %>
        <% else %>
            <%= check_box_tag "l[pt][]", place_type[:id], false, id: "l#{place_type[:id]}", class: "berry" %>
        <% end %>
      </li><!--
    <% end %>
    <% @place_types_list = @place_types_list.drop(3) %>
                  --></ul>

      <ul class="list -inline criteria__options criteria__options-advanced js-target"><!--
    <% @place_types_list.each do |place_type| %>
                    --><li class="list__item">
        <label for="l<%= place_type[:id] %>"><%= place_type[:name] %></label>
        <%= check_box_tag "l[pt][]", place_type[:id], false, id: "l#{place_type[:id]}", class: "berry" %>
      </li><!--
    <% end %>

                  --></ul>
    </div>
  </div><!-- /.criteria__item -->

  <div class="criteria__item js-root">
    <div class="criteria__title">Удобства (<%= @facility_list.size %>)<span class="criteria__toggle js-toggler"><</span></div>
    <div class="criteria__content">
      <ul class="list -inline criteria__options"><!--
                    <% @facility_list.take(3).each do |facility| %>
          --><li class="list__item">
        <label for="f<%= facility[:id] %>"><%= facility[:name] %></label>
        <%= check_box_tag "l[f][]", facility[:id], false, id: "f#{facility[:id]}", class: "berry" %>
      </li><!--
    <% end %>
    <% @facility_list = @facility_list.drop(3) %>
                  --></ul>

      <ul class="list -inline criteria__options criteria__options-advanced js-target"><!--
                    <% @facility_list.each do |facility| %>
          --><li class="list__item">
        <label for="f<%= facility[:id] %>"><%= facility[:name] %></label>
        <%= check_box_tag "l[f][]", facility[:id], false, id: "f#{facility[:id]}", class: "berry" %>
      </li><!--
    <% end %>
                  --></ul>
    </div>
  </div><!-- /.criteria__item -->

<div class="criteria__item js-root">
  <div class="criteria__title">Язык, на котором говорит хозяин (<%= @owner_languages_list.size %>)<span class="criteria__toggle js-toggler"><</span></div>
  <div class="criteria__content">
    <ul class="list -inline criteria__options"><!--
    <% @owner_languages_list.take(3).each do |language| %>
           --><li class="list__item">
      <label for="lan<%= language[:id] %>"><%= language[:name] %></label>
      <%= check_box_tag "l[lan][]", language[:id], false, id: "lan#{language[:id]}", class: "berry" %>
    </li><!--
    <% end %>
    <% @owner_languages_list = @owner_languages_list.drop(3) %>
                  --></ul>

    <ul class="list -inline criteria__options criteria__options-advanced js-target"><!--
    <% @owner_languages_list.each do |language| %>
                    --><li class="list__item">
      <label for="lan<%= language[:id] %>"><%= language[:name] %></label>
      <%= check_box_tag "l[lan][]", language[:id], false, id: "lan#{language[:id]}", class: "berry" %>
    </li><!--
    <% end %>

                  --></ul>
  </div>
</div><!-- /.criteria__item -->

</div>

</div><!-- /.filter-advanced -->
<hr>

<div class="row update">
  <div class="col__left update__current">Крым</div>
  <div class="col__left update__search" onclick="document.getElementById('search-form').submit()">Искать / обновить запрос</div>
  <div class="col__left update__count"><%= @places.count %> объявление</div>
</div><!-- /.update -->
</form>

<div class="items">
  <ul class="list -inline good"><% @places.each do |place| %><!--
              --><li class="list__item">
    <div class="tile">
      <div class="tile__image">
        <a href="#"><img src="<%= place[:image] %>" alt=""></a>

        <div class="tile__content">
            <h2 class="tile__title"><%= place[:name] %></h2>
            <!--<p><%= place[:teaser] %> ...</p>-->
        </div>
      </div>
      <div class="row tile__info">
        <div class="col__left">
          <div class="tile__price"><%= format("%.f",place[:price_per_day]) if place[:price_per_day] %> р. в сутки</div>
        </div>
      </div>
      <div data-src="/fast-order/<%= place[:id] %>" class="js-dialog tile__instant-reservation">Мгновенное бронирование</div>
      <a href="#" data-src="/show/<%= place[:id] %>" class="js-dialog tile__link"></a>
      <div class="tile__comment">12</div>
    </div>
  </li><!--

              --><% end %><!--
            --></ul>
</div><!-- /.items -->
</section><!-- /.aside -->

<section class="col__left map">
  <div class="page-contol">
    <div class="page-control__left"></div>
    <div class="page-control__right"></div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= javascript_include_tag 'libs/infobox.js' %>
  <script>
      //docs: http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/docs/examples.html
      //      https://developers.google.com/maps/documentation/javascript/overlays?hl=ru
      var map;

      function initialize() {
          var myOptions = [];
          var ib = [];
          var marker = [];
          var box = [];

          var latLng = new google.maps.LatLng(44.495367,34.158920);

          var myMapOptions = {
              zoom: 14,
              center: latLng,
              disableDefaultUI: true,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          map = new google.maps.Map(document.getElementById('map-canvas'), myMapOptions);

          var image = new google.maps.MarkerImage('<%= asset_path 'marker.png' %>',
                  null,
                  new google.maps.Point(0,0),
                  new google.maps.Point(30,70)
          );

          <%
            counter = 0
            @places.each do |place|
                if place[:location] && place[:location].size == 2
          %>
              marker[<%= counter %>] = new google.maps.Marker({
                  map: map,
                  draggable: false,
                  position: new google.maps.LatLng(<%= place[:location][1] %>, <%= place[:location][0] %>),
                  animation: google.maps.Animation.DROP,
                  visible: true,
                  icon: image
              });

              box[<%= counter %>] = document.createElement('div');
              box[<%= counter %>].innerHTML = '<div class="markerbox__title"><%= escape_javascript place[:name] %></div>'+
                      '<div class="markerbox__price"><span><%= place[:price_per_day] %> р.</span>в сутки</div>'+
                      '<div class="markerbox__button"><a href="#" data-src="/show/<%= place[:id] %>" class="button js-dialog">перейти</a></div>';
          <%
                 counter += 1
                end
            end
          %>

          for ( var i = 0; i < marker.length; i++ ) {
              myOptions[i] = {
                  content: box[i],
                  disableAutoPan: true,
                  maxWidth: 0,
                  pixelOffset: new google.maps.Size(-75, -163),
                  zIndex: null,
                  boxClass: 'markerbox',
                  boxStyle: {
                      opacity: 1,
                      width: '157px',
                      height: '160px'
                  },
                  closeBoxURL: null,
                  infoBoxClearance: new google.maps.Size(1, 1),
                  isHidden: false,
                  pane: 'floatPane',
                  enableEventPropagation: false
              };
          };

          for ( var i = 0; i < marker.length; i++ ) {
              ib[i] = new InfoBox(myOptions[i]);
          };

          function infoboxClose() {
              for ( var i = 0; i < marker.length; i++ ) {
                  ib[i].close();
              };
          }

          <%
            counter = 0
            @places.each do |place|
                if place[:location] && place[:location].size == 2
          %>
          google.maps.event.addListener(marker[<%= counter %>], 'click', function(e) {
              infoboxClose();
              ib[<%= counter %>].open(map, this);
          });
          <%
                counter += 1
                end
            end
          %>

          google.maps.event.addListener(map, 'click', function(e) {
              infoboxClose();
          });

          <%
            counter = 0
            @places.each do |place|
                if place[:location] && place[:location].size == 2
          %>
          google.maps.event.addListener(ib[<%= counter %>],'domready', function() {
              $('.js-dialog').on('click', function() {
                  var src = $(this).data('src');
                  openDialog(src);
                  return false;
              });
          });
          <%
            counter += 1
            end
            end
          %>
      };

      google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <div id="map-canvas"></div>
</section><!-- /.section -->
</main><!-- /.main -->