<footer class="row footer">
  <div class="col__left footer__logotype">
    <%= image_tag 'logotype-footer.png' %>
  </div>

  <div class="col__right footer__navigation">
    <!--<nav>-->
      <!--<ul class="list -float navigation-bottom">-->
        <!--<li class="list__item"><a href="#" class="list__link">Should be displayed</a></li>-->
        <!--<li class="list__item"><a href="#" class="list__link">Should be displayed</a></li>-->
        <!--<li class="list__item"><a href="#" class="list__link">Should be displayed</a></li>-->
      <!--</ul>-->
    <!--</nav>-->
  </div>

  <div class="col__middle footer__copyright">
    <!--The attribution should be displayed either in thesame article as the symbol, with the colophon, or at the back ...-->
  </div>
</footer><!-- /.footer -->