<header class="row header">
  <div class="col__left header__logotype">
        <a href="<%= root_path %>" class="logotype">roomscanner</a>
  </div>

  <div class="col__right header__user">
    <div class="header__user-phone">
      <!-- +6 (666) 613 13 13 --> &nbsp;
    </div>
  </div>

  <div class="col__middle header__search">
    <div class="search">
      <input type="search" name="search" id="search">
    </div>
  </div>
</header><!-- /.header -->