<!DOCTYPE html>
<html class="desktop" lang="ru">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>Roomscanner</title>
  <meta name="z-payment.label" content="z-payment label 334BBF1AE4FB009063FF9F881986DEC2">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="-ff-regular -ff-bold -ff-italic -ff-bold-italic">

<div class="wrapper">
  <%= render 'layouts/header' %>
  <%= yield %>
</div><!-- /.wrapper -->

<%= render 'layouts/footer' %>
<%= render 'layouts/dialog' %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<%= javascript_include_tag 'libs/fancybox/jquery.fancybox.pack.js' %>
<%= javascript_include_tag 'libs/fancybox/helpers/jquery.fancybox-media.js' %>
<%= javascript_include_tag 'libs/fancybox/helpers/jquery.fancybox-thumbs.js' %>
<%= javascript_include_tag 'libs/carousel.js' %>
<%= javascript_include_tag 'libs/chosen.js' %>
<%= javascript_include_tag 'libs/berry.js' %>
<%= javascript_include_tag 'moonkake.js' %>
<%= javascript_include_tag 'gate8team.js' %>

</body>
</html>
